<footer>
  <ul>
    {% if site.author.email %}
    <li>
      <a href="mailto:{{ site.author.email | encode_email }}" target="_blank">
        <i class="far fa-envelope"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.twitter %}
    <li>
      <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.facebook %}
    <li>
      <a href="https://www.facebook.com/{{ site.author.facebook }}" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.linkedin %}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.github %}
    <li>
      <a href="https://github.com/{{ site.author.github }}" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.instagram %}
    <li>
      <a href="https://instagram.com/{{ site.author.instagram }}" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.twitch %}
    <li>
      <a href="https://twitch.tv/{{ site.author.twitch }}" target="_blank">
        <i class="fab fa-twitch"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.youtube %}
    <li>
      <a href="https://youtube.com/@{{ site.author.youtube }}" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    {% endif %}
    {% if site.author.buymeacoffee %}
    <li>
      <a href="https://www.buymeacoffee.com/{{ site.author.buymeacoffee }}" target="_blank">
        <i class="fa fa-beer"></i>
      </a>
    </li>
    {% endif %}
  </ul>
  <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">
    <img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
  </a>
</footer>